.App {
  text-align: center;
  display:flex;
  margin-top: 150px;
  justify-content: space-around;
}

.Header{
  text-align: center;
  width: 100%;
  margin-top: 100px;
  font-size: 3em;
  color:white;
}

.Dt{
  font-size: 3em;
  color: white;
}

@media (max-width: 500px){
  .App{
    margin-top: 0;
  }
  .Imagen{
    display: none;
  }
  .Dt{
    font-size: 3em;
  }
  .Header{
    font-size: 2em;
  }
}
